/* ----------- header ------------- */
#header.header-scrolled {
  background: #4a21ef;
}
/* ---------- hero-accepts -------------- */
#hero-accepts {
  background: linear-gradient(
    0deg,
    rgba(191, 255, 228, 0) 7.61%,
    rgba(93, 69, 237, 0.840052) 55.73%,
    #4a21ef 94.13%
  );
}
.th-inner {
  font-size: 18px;
}
/* ----------------- hero ------------------ */
#hero {
  width: 100%;
  position: relative;
  background: url("https://www.safepal.com/assets/img/assets/icon-hero-bg-start.svg") no-repeat;
  background-position: top 24px left 0px;
  background-size: 100% 100%;
  animation: bgStartShow 5s infinite;
}
@media(min-width: 991px) {
  @keyframes bgStartShow {
    0% {
      background: url("https://www.safepal.com/assets/img/assets/icon-hero-bg-start.svg") no-repeat;
      background-position: top 24px left 0px;
    }
    25% {
      background: url("https://www.safepal.com/assets/img/assets/icon-hero-bg-start2.svg") no-repeat;
      background-position: top 24px left 0px;
    }
    50% {
      background: url("https://www.safepal.com/assets/img/assets/icon-hero-bg-start3.svg") no-repeat;
      background-position: top 24px left 0px;
    }
    75% {
      background: url("https://www.safepal.com/assets/img/assets/icon-hero-bg-start2.svg") no-repeat;
      background-position: top 24px left 0px;
    }
    100% {
      background: url("https://www.safepal.com/assets/img/assets/icon-hero-bg-start.svg") no-repeat;
      background-position: top 24px left 0px;
    }
  }
}

#hero .hero-container {
  padding-top: 182px;
  padding-bottom: 160px;
}
#hero .hero-container .left {
  position: relative;
  z-index: 1;
  max-width: 620px;
  margin-right: 75px;
}
#hero .hero-container .left .title h3 {
  color: #79efbd;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 16px;
}
#hero .hero-container .left .describe{
  min-height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero .hero-container .left .describe p {
  color: #F7F6FF;
  font-weight: 900;
  font-size: 80px;
  line-height: 1;
}
#hero .hero-container .right .hero-phone{
  left: 3.5%;
  top: -10.2%;
}
#hero .hero-container .right .icons-sfp{
  left: 40.5%;
  top: -44.2%;
  animation: moveY 7s infinite cubic-bezier(0.4, 0, 1, 1);
}
#hero .hero-container .right .icons-group {
  left: -40%;
  top: 30.2%;
}
#hero .hero-container .right .icons-eth{
  top: 11%;
  left: 23%;
  animation: moveY 8s infinite cubic-bezier(0.4, 0, 1, 1);
}
#hero .hero-container .right .icons-btc{
  top: 16%;
  left: 70%;
  animation: moveY 5s infinite cubic-bezier(0.4, 0, 1, 1);
}
#hero .hero-container .right .icons-xrp {
  left: 17.1%;
  top: 68.2%;
}
@media (max-width: 991px) {
  #hero .hero-container {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 80px;
    padding-bottom: 60px;
  }
  #hero .hero-container .left {
    max-width: 100%;
    margin-right: 0px;
    text-align: center;
    padding-bottom: 65px;
  }
  #hero .hero-container .left .title h3 {
    margin-bottom: 13px;
  }
  #hero .hero-container .left .describe{
    min-height: unset;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #hero .hero-container .left .describe p {
    font-weight: 1000;
    font-size: 48px;
  }
  #hero .hero-container .right .hero-phone{
    left: 1.5%;
    top: -13.2%;
  }
  #hero .hero-container .right .icons-group {
    max-width: 93.5px;
    left: 1.1%;
    top: -14.2%;
    z-index: -1;
  }
  #hero .hero-container .right .icons-xrp {
    max-width: 76.5px;
    left: -9.9%;
    top: 76.2%;
  }
  #hero .hero-container .right .icons-sfp{
    max-width: 59px;
    height: auto;
    left: 40.5%;
    top: -28.2%;
  }
  #hero .hero-container .right .icons-eth{
    max-width: 59px;
    height: auto;
    top: 11%;
    left: 23%;
  }
  #hero .hero-container .right .icons-btc{
    max-width: 59px;
    height: auto;
    top: 16%;
    left: 70%;
  }
}

/* --------------------- accepts-list ------------------------- */
#accepts-list {
  overflow: initial;
}
#accepts-list .accepts-list .search-box {
  margin-bottom: 60px;
}
#accepts-list .accepts-list .search-box .my-input { 
  width: 784px;
  margin: auto;
}
#accepts-list .accepts-list .search-box .search-input {
  width: 100%;
  background: #F7F6FF;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 128px;
  padding-left: 80px;
  border: 1px solid #88869E;
  border-radius: 140px;
  height: 60px;
  line-height: 60px;
  box-sizing: content-box;
}
#accepts-list .accepts-list .search-box .search-input:focus {
  outline-color: #79EFBD;
}
#accepts-list .accepts-list .search-box .search-input::placeholder {
  color: #0D0B33;
  font-size: 16px;
  line-height: 1.6;
}
#accepts-list .accepts-list .search-box .search-btn {
  padding: 16px 24px;
  background: #79EFBD;
  border-radius: 100px;
  color: #0D0B33;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 500;
  border: none;
  transition: all .3s;
  right: 14px;
  font-weight: 700;
}
#accepts-list .accepts-list .search-box .search-icon {
  width: 24px;
  height: 24px;
  left: 34px;
  z-index: 1;
}
#accepts-list .accepts-list .search-box .search-icon img {
  width: 100%;
  height: 100%;
  font-size: 0;
  object-fit: contain;
  vertical-align: baseline;
}
#accepts-list .accepts-list .search-box .dowBox {
  width: 784px;
  background: #fff;
  left: 50%;
  margin-left: -392px;
  border-left: 1px solid #b7b7b7;
  border-right: 1px solid #b7b7b7;
  border-bottom: 1px solid #b7b7b7;
  max-height: 300px;
  overflow-y: auto;
  display: none;
  z-index: 1;
}

#accepts-list .accepts-list .search-box .dowBox li {
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 12px 15px 5px 48px;
}

#accepts-list .accepts-list .search-box .dowBox li:hover {
  color: #3f37ff
}
#accepts-list .accepts-list .search-box .actice{
  color: #3f37ff
}
#accepts-list .accepts-list .search-box .dowBox li:nth-child(1) {
  border-top: 1px solid #b7b7b7;
}
#accepts-list .accepts-list .filter {
  margin-bottom: 80px;
}
#accepts-list .accepts-list .filter-item {
  color: #000000;
  margin-right: 30px;
}
#accepts-list .accepts-list .filter-item:nth-last-child(1) {
  margin: 0px;
}
#accepts-list .accepts-list .filter-item .filter-label {
  display: inline-block;
  font-size: 18px;
  line-height: 1.6;
  margin-right: 10px;
}
#accepts-list .accepts-list .filter-item .select-box button.btn {
  border-radius: 60px;
  border-color: #88869E;
  padding: 10px 20px;
  background: transparent;
  color: #000000;
  font-size: 16px;
}
#accepts-list .accepts-list .filter-item .select-box  button.btn.dropdown-toggle:focus {
  outline-color: #79EFBD !important;
  outline-width: 4px !important;
  box-shadow: 0 0 0 .25rem rgba(121,239,189,.5);

}
#accepts-list .accepts-list .filter-item .select-box  .dropdown-menu .form-control {
  line-height: 1 !important;
}
#accepts-list .accepts-list .filter-item .select-box button.btn .filter-option {
  margin-right: 10px;
}
.table-list {
  padding: 0px 60px 60px;
  color: #000000;
}
.table-list .table-text,
.table-list td {
  color: #000000;
  font-size: 18px;
  line-height: 1.6;
}
.table-list td {
  padding: 16px 8px
}
.table-list a {
  color: #000000;
}
.table-list .table-icon {
  max-width: 48px;
  height: auto;
}
.table-list .fixed-table-body {
  height: auto !important;
}
.table-list .table>:not(:first-child) {
  border-top: inherit !important;
}
.table-list .load-more {
  margin: 60px auto 90px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-list .load-more .loadMore {
  cursor: pointer;
}
.table-list .noData{
  width:490px;
  height:120px;
  line-height: 54px;
  margin:100px auto;
  padding:0 30px;
  box-sizing:border-box;
  background:rgba(63,55,255,0.1);
  border-radius: 8px;
  font-size: 18px;
  color: #3F37FF;
  font-weight: 400;
  display:none;
  text-align: center;
}
.table-list .noData .btn{
  height:44px;
  margin-left:5px;
  background:#3f37ff;
  font-size:16px;
  padding:10px 20px;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 600;
}
.m-list .m-list-top {
  padding: 4px 0px;
  border-bottom: 1px solid #E3E1F0;
  color: #000000;
}
.m-list .m-list-top .name,
.m-list .m-list-top .type,
.m-list .m-list-top .network{
  font-size: 18px;
  line-height: 1.6;
}
.m-list .m-list-top .name {
  width: 50%;
}
.m-list .m-list-top .type {
  width: 20%;
  text-align: center;
}
.m-list .m-list-top .network {
  width: 30%;
  text-align: center;
}
.m-list .m-list-box {
  padding: 20px 0px;
  /* border-bottom: 1px solid #E3E1F0; */
  color: #000000;
  font-size: 18px;
  line-height: 1.6;
}
.m-list .m-list-box .m-list-item {
  padding: 20px 0px;
  border-bottom: 1px solid #E3E1F0;
}
.m-list .m-list-box .name{
  width: 50%;
}
.m-list .m-list-box .type{
  width: 20%;
  text-align: center;
}
.m-list .m-list-box .network{
  width: 30%;
  text-align: center;
}
.m-list .m-list-box .name .coin-log {
  margin-right: 5px;
}
.m-list .m-list-box .name a {
  color: #000000;
  display: inline-block;
  word-break: break-all;
}
.m-list .m-list-box .name .coin-log img {
  width: 24px;
  height: 24px;
}
.m-list-box .filter {
  margin-top: 18px;
}
.m-list-box .filter .filter-item {
  color: #000000;
  font-size: 14px;
  line-height: 1.6;
  margin-right: 20px;
}
.m-list-box .filter .filter-item:nth-last-child(1) {
  margin-right: 0px;
  flex-grow: 1;
  text-align: center;
}
.m-filter-list {
  padding: 0px 16px;
}
.m-filter-list .m-load-more {
  color: #1D1D1D;
  margin: 40px auto 129px;
  text-align: center;
}

.m-filter-list .m-filter .m-filter-item .btn-light {
  background-color: transparent;
  border-color: transparent;
  padding-left: 0px;
  padding-right: 0px;
  color: #000000;
  justify-content: center;
}
.m-filter-list .m-filter .m-filter-item .btn-light .filter-option {
  width: auto;
}
.m-filter-list .m-filter .m-filter-item span {
  color: #000000;
}
.m-filter-list .m-filter .m-filter-item.m-filter-type {
  margin-right: 20px;
}
.m-filter-list .m-filter .m-filter-item.m-filter-network {
  margin-right: 20px;
}
.m-filter-list .m-filter .m-filter-item.m-filter-menu {

}
.m-filter-menu-dialog .content {
  display: none;
}
.dialog-fixed {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(26, 26, 26, 0.3);
  transition: 0.3s;
  z-index: 999;
  padding: 0px 16px;
}
.m-filter-menu-dialog.dialog-fixed .form-checked {
  margin-right: 10px;
  margin-bottom: 10px;
}
.m-filter-menu-dialog.dialog-fixed .content-item-label {
  min-width: 60px;
  display: inline-block;
}
.m-filter-menu-dialog.dialog-fixed .form-checked .form-check-label {
  padding: 7px 12px;
  color: #333333;
  border: 1px solid #88869E;
  border-radius: 60px;
  font-size: 18px;
  line-height: 1.6;
}
.m-filter-menu-dialog.dialog-fixed .check-input{
  position: absolute;
  clip: rect(0,0,0,0);
  pointer-events: none;
}
.m-filter-menu-dialog.dialog-fixed .check-input:checked+.form-check-label {
  background: #79EFBD;
  border-color: #79EFBD;
}
.m-filter-menu-dialog.dialog-fixed .content {
  display: block;
  background: #F7F6FF;
  border-radius: 12px;
  width: 100%;
  padding: 25px 15px;
  font-size: 18px;
  line-height: 1.6;
}
.m-filter-menu-dialog.dialog-fixed .content .content-item {
  margin-bottom: 20px;
}
.m-filter-menu-dialog.dialog-fixed .content .item-btn {
  margin-top: 42px;
}
.m-filter-menu-dialog.dialog-fixed .content .item-btn .btn{
  color: #0D0B33;
  font-size: 18px;
  padding: 13px 24px;
  border-radius: 80px;
  background-color: transparent;
  line-height: 1.6;
  border: 1px solid #000000;
  width: calc((100% - 20px)/2);
}
.m-filter-menu-dialog.dialog-fixed .content .item-btn .btn.btn-reset {
  margin-right: 10px;
}
.m-filter-menu-dialog.dialog-fixed .content .item-btn .btn.btn-ok {
  margin-left: 10px;
  background: #79EFBD;
  border-color: #79EFBD;
}
.m-list-box .noData .btn{
  height:44px;
  margin-left:5px;
  background:#3f37ff;
  font-size:16px;
  padding:10px 20px;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 600;
}
@media (max-width: 991px) {
  #accepts-list .accepts-list {
    padding: 0 16px;
  }
  #accepts-list .accepts-list .search-box .my-input { 
    width: 100%;
  }
  #accepts-list .accepts-list .search-box .search-input {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 13px;
    padding-left: 52px;
    border: 1px solid #88869E;
    border-radius: 40px;
    height: 27px;
    line-height: 27px;
    box-sizing: content-box;
  }
  #accepts-list .accepts-list .search-box .search-icon {
    width: 18px;
    height: 18px;
    left: 23px;
    z-index: 1;
  }
  #accepts-list .accepts-list .search-box .dowBox {
    width: 100%;
    background: #fff;
    left: 0;
    margin-left: 0;
    border-left: 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;
    border-bottom: 1px solid #b7b7b7;
    max-height: 300px;
    overflow-y: auto;
    display: none;
    z-index: 1;
    border-radius: 6px;
  }
  #accepts-list .accepts-list .search-box .dowBox li {
    padding: 12px 15px 5px 15px
  }
}
/* ---------------------  start-soar-footer -------------------- */
.start-soar-footer {
  background: linear-gradient(109.75deg, rgba(117, 84, 252, 0) 35.1%, rgba(117, 84, 252, 0.2) 99.39%), linear-gradient(162.15deg, rgba(13, 11, 51, 0) 1.61%, #0D0B33 71.13%), #4A21EF;
}
/* -----------------------start-soar-------------------------- */
#start-soar {
  background: url("https://www.safepal.com/assets/img/one-wallet-footer-bg.svg") no-repeat,
  url("https://www.safepal.com/assets/img/crypto-stripe1.svg") no-repeat;
  background-position: top -30% center, right -36% top 93%, center;
  animation: starFooter 5s ease-in infinite;
}
@media (min-width: 991px){
  @keyframes starFooter {
    0% {
      background: url("https://www.safepal.com/assets/img/one-wallet-footer-bg.svg") no-repeat,
        url("https://www.safepal.com/assets/img/crypto-stripe1.svg") no-repeat;
        background-position: top -30% center, right -36% top 93%, center;
    }
    50% {
      background: url("https://www.safepal.com/assets/img/one-wallet-footer-bg2.svg") no-repeat,
        url("https://www.safepal.com/assets/img/crypto-stripe1.svg") no-repeat;
        background-position: top -30% center, right -36% top 93%, center;
      }
    100% {
      background: url("https://www.safepal.com/assets/img/one-wallet-footer-bg.svg") no-repeat,
      url("https://www.safepal.com/assets/img/crypto-stripe1.svg") no-repeat;
      background-position: top -30% center, right -36% top 93%, center;
    }
  } 
}
#start-soar .start-soar {
  text-align: center;
  max-width: 800px;
  margin: 0px auto;
  padding: 180px 0 90px;
}
#start-soar .start-soar .sfp-logo .logo-box {
  animation-duration: 4s;
  animation-iteration-count: infinite;
  margin-bottom: 24px;
}
#start-soar .start-soar .title {
  margin-bottom: 48px;
}
#start-soar .start-soar .text {
  margin: 0px 50px 50px;
}
#start-soar .start-soar .text p {
  color: #f7f6ff;
  font-size: 18px;
  line-height: 1.6;
}
#start-soar .start-soar .title h3 {
  color: #ffffff;
  font-weight: 1000;
  font-size: 80px;
  line-height: 1;
  text-align: center;
}
#start-soar .start-soar .download .set-off-btn {
  animation-duration: 4s;
  animation-iteration-count: infinite;
  background: linear-gradient(
    183.08deg,
    rgba(191, 255, 228, 0.2) 43.82%,
    rgba(191, 255, 228, 0) 111.17%
  );
  border-radius: 100px;
  padding: 10px;
}
#start-soar .start-soar .download .downloads-btn {
  animation-duration: 4s;
  animation-iteration-count: infinite;
  color: #0d0b33;
  font-size: 18px;
  padding: 16px 24px;
  border-radius: 100px;
  background-color: #79efbd;
  line-height: 1.6;
  border: none;
  font-weight: 700;
}
#start-soar .start-soar .download .btn-press .press-btn {
  line-height: 1.6;
  border: none;
  font-size: 18px;
  padding: 16px 24px;
  border-radius: 100px;
  color: #f7f6ff;
  border: 1px solid #ffffff;
  background: transparent;
  margin-left: 30px;
  font-weight: 700;
}
@media (max-width: 991px) {
  #start-soar {
    background: url("https://www.safepal.com/assets/img/one-wallet-footer-bg-m.svg") no-repeat,
    url("https://www.safepal.com/assets/img/crypto-stripe1.svg") no-repeat,
    url("https://www.safepal.com/assets/img/crypto-stripe1.svg") no-repeat;
    background-position: top -30% center, top -36% left 40%, right 420% top 93%;
  }
  #start-soar .start-soar {
    max-width: 100%;
    padding: 80px 16px 90px;
  }
  #start-soar .start-soar .title h3 {
    font-weight: 1000;
    font-size: 48px;
  }
}
.bootstrap-select .btn .filter-option-inner-inner {
  color: #000000;
}
@media screen and (min-width: 991px) and  (max-width: 1199px) {

}
@media screen and (min-width: 769px) and  (max-width: 990px) { }
@media screen and (min-width: 375px) and  (max-width: 768px) {
    .m-filter-menu-coin.m-filter-menu-dialog.dialog-fixed .form-checked .form-check-label {
        padding: 4px 8px;   
        font-size: 16px;
    }
    .m-filter-menu-coin.m-filter-menu-dialog.dialog-fixed .content-item-label {
        margin-right: 4px;
        font-size: 16px;
        margin-bottom: 10px;
    }
    .m-filter-menu-coin.m-filter-menu-dialog.dialog-fixed .form-checked .form-check-label img {
        width: 26px !important;
        height: 26px !important;
    }
    .m-filter-menu-coin.m-filter-menu-dialog.dialog-fixed .content .item-btn .btn {
        font-size: 16px;
        padding: 13px 6px;
    }
    .m-filter-list .m-filter .m-filter-item.m-filter-type {
      width: 0;
      flex-grow: 1;
    }
    .m-filter-list .m-filter .m-filter-item.m-filter-network {
      width: 0;
      flex-grow: 2;
    }
    .m-filter-list .m-filter .m-filter-item.m-filter-menu {
      width: 0;
      flex-grow: 1.5;
    }
    .m-filter-list .m-filter .m-filter-item.m-filter-network .bootstrap-select {
      width: 100% !important;
    }
    .m-filter-list .m-filter .m-filter-item.m-filter-network .bootstrap-select .filter-option-inner-inner {
      white-space: break-spaces;
    }
}
@media screen and (min-width: 320px) and  (max-width: 374px) {
    .m-filter-menu-coin.m-filter-menu-dialog.dialog-fixed .form-checked .form-check-label {
        padding: 4px 8px;
        font-size: 14px; 
    }
    .m-filter-menu-coin.m-filter-menu-dialog.dialog-fixed .content-item-label {
        margin-right: 4px;
        font-size: 14px;
        margin-bottom: 10px;
    }
    .m-filter-menu-coin.m-filter-menu-dialog.dialog-fixed .form-checked .form-check-label img {
        width: 22px !important;
        height: 22px !important;
    }
    .m-filter-menu-coin.m-filter-menu-dialog.dialog-fixed .content .item-btn .btn {
        font-size: 16px;
        padding: 13px 6px;
    }
    .m-filter-list .m-filter .m-filter-item.m-filter-type {
      width: 0;
      margin-right: 20px;
      flex-grow: 1;
    }
    .m-filter-list .m-filter .m-filter-item.m-filter-network {
      width: 0;
      margin-right: 20px;
      flex-grow: 2;
    }
    .m-filter-list .m-filter .m-filter-item.m-filter-menu {
      width: 0;
      flex-grow: 1.5;
    }
    .m-filter-list .m-filter .m-filter-item.m-filter-network .bootstrap-select {
      width: 100% !important;
    }
    .m-filter-list .m-filter .m-filter-item.m-filter-network .bootstrap-select .filter-option-inner-inner {
      white-space: break-spaces;
    }
}
@media (max-width: 319px){
    .m-filter-menu-coin.m-filter-menu-dialog.dialog-fixed .form-checked .form-check-label img {
        width: 22px !important;
        height: 22px !important;
    }
    .m-filter-menu-coin.m-filter-menu-dialog.dialog-fixed .content .item-btn .btn {
        font-size: 14px;
        padding: 13px 6px;
    }
    .m-filter-menu-coin.m-filter-menu-dialog.dialog-fixed .form-checked .form-check-label {
        font-size: 12px;  
    }
    .m-filter-menu-coin.m-filter-menu-dialog.dialog-fixed .content-item-label {
      margin-bottom: 10px;
    }
    .m-filter-list .m-filter .m-filter-item.m-filter-type {
      width: 0;
      margin-right: 12px;
      flex-grow: 1;
    }
    .m-filter-list .m-filter .m-filter-item.m-filter-network {
      width: 0;
      margin-right: 12px;
      flex-grow: 2;
    }
    .m-filter-list .m-filter .m-filter-item.m-filter-menu {
      width: 0;
      flex-grow: 1.5;
    }
    .m-filter-list .m-filter .m-filter-item.m-filter-network .bootstrap-select {
      width: 100% !important;
    }
    .m-filter-list .m-filter .m-filter-item.m-filter-network .bootstrap-select .filter-option-inner-inner {
      white-space: break-spaces;
    }
}