#header.header-transparent {
    background: #4a21ef !important;
  }
#main.blog-list {
  /* background: #F4F6F9; */
  padding-bottom: 20px;
}

#mobile-box-button.mobile-box-button {
  display: none;
}

  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
    overflow: hidden;
    width: 100%;
  }
  #hero .hero{
    margin-bottom: 20px;
  }
  #hero .hero-container {
    padding-top: 160px;
    justify-content: space-between;
  }
  

  #hero .hero-container .article-left {
    padding: 10px;
    width: 70%;
  }

  #hero .hero-container .article-left .article-title {
    font-size: 2.44em;
    line-height: 1.4;
    color: #1b1b1c;
  }

  #hero .hero-container .article-left .article-time {
    text-align: left;
    font-size: 14px;
    color: #666;
    margin: 20px 0;
    margin-bottom: 2.617924em;
  }

  #hero .hero-container .article-left .article-content img{
    max-width: 100%;
    object-fit: contain;
  }
  #hero .hero-container .article-left .article-content h1,
  #hero .hero-container .article-left .article-content h2,
  #hero .hero-container .article-left .article-content h3,
  #hero .hero-container .article-left .article-content h4 {
    color: #1b1b1c;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
  }

  #hero .hero-container .article-left .article-content p{
    color: #1e1e1e;
    margin-top: 28px;
    margin-bottom: 28px;
    min-height: 28px;
  }

  #hero .hero-container .article-left .article-content a,
  #hero .hero-container .article-left .article-content a:hover,
  #hero .hero-container .article-left .article-content a:active,
  #hero .hero-container .article-left .article-content a:visited,
  #hero .hero-container .article-left .article-content a:focus {
    color: #0073aa!important;
    text-decoration: underline;
  }
  #hero .hero-container .article-left .article-content ol,
  #hero .hero-container .article-left .article-content ul{
    margin: 0 0 1.41575em 1.3em;
  }

  #hero .hero-container .article-left .article-wiget {
    font-size: 24px;
    color: #000;
    margin: 100px 0 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    padding: 20px 0;
  }

  #hero .hero-container .article-left .act-content {
    width: 100%;
    padding: 10px 0;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
  }

  #hero .hero-container .article-left .act-content .act-box {
    width: 246px;
    height: 280px;
    margin-right: 20px;
    border: 1px solid #f4f6f9;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    cursor: pointer;
  }

  #hero .hero-container .article-left .act-content .act-box:hover {
    border: 1px solid #3f37ff;
    box-shadow: 0 0 20px 0 #c8c8c8;
    transition: border .3s, box-shadow .3s;
  }

  #hero .hero-container .article-left .act-content .act-box img {
    width: 100%;
    height: auto;
  }

  #hero .hero-container .article-left .act-content .act-text .title{
    white-space: normal;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;

  }

  #hero .hero-container .article-left .act-content .act-text .date{
    position: absolute;
    bottom: 0;
    font-size: 14px;
    margin: 12px;
    color: #000;
  }

  #hero .hero-container .article-right {
    width: 30%;
    padding: 10px 10px 10px 20px;
    flex: 0 0 auto;
  }
  #hero .hero-container .article-search {
    margin: 0 0 3.706325903em;
  }

  #hero .hero-container .article-search .article-search-box {
    position: relative;
  }
  #hero .hero-container .article-search .article-search-input {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #FFF;
    border-radius: 4px;
    border: 1px solid #DCDFE6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: 0;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  }

  #hero .hero-container .article-search .article-search-input::placeholder {
    color: rgba(0,0,0,.2)
  }

  #hero .hero-container .article-search .article-search-input:focus {
    border-color: #3f37ff;
  }

  #hero .hero-container .article-search .input-prefix {
    position: absolute;
    top: 0;
    left: 10px;
    transition: all .3s;
    height: 100%;
    color: #C0C4CC;
    text-align: center;
    display: flex;
    align-items: center;
  }

  #hero .hero-container .article-search .input-suffix {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 10px;
    transition: all .3s;
    height: 100%;
    color: #C0C4CC;
    text-align: center;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  #hero .hero-container .article-search .input-prefix .icon{
    fill: rgba(0,0,0,.2)
  }

  #hero .hero-container .article-search .input-suffix .icon{
    fill: rgba(0,0,0,.2)
  }
  #hero .hero-container .article-search .input-suffix .icon:hover{
    fill: rgba(0,0,0,.4)
  }

  #hero .hero-container .article-right .recent-posts .widget-title {
    color: #000;
    font-size: 1.41575em;
    letter-spacing: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    padding: 0 0 1em;
    margin-bottom: 1em;
    font-weight: 300;
  }

  #hero .hero-container .article-right .recent-posts ul li {
    margin-bottom: 14px;
  }

  #hero .hero-container .article-right .recent-posts a {
    font-family: AlibabaSans-Regular, sans-serif;
    text-decoration: underline;
    color: #4e4e4e;
    font-size: 14px;
  }

  #hero .hero-container .article-right .recent-posts a:hover {
    color: #3f37ff!important;
    text-decoration: none;
  }
  #hero .hero-container .article-right .recent-posts a:active {
    color: #3f37ff!important;
    text-decoration: none;
  }


  @media (max-width: 991px) {
    #hero .hero{
      margin-bottom: 0;
    }

    #hero .hero-container {
      /* padding-top: 30px; */
      padding-top: 70px;
      justify-content: space-between;
    }
    #hero .hero-container .article-left,
    #hero .hero-container .article-right {
      width: 100%;
    }
    #hero .hero-container .tab-box-button {
      display: none;
    }

    #hero .hero-container .article-right .recent-posts {
      display: none;
    }
}
  
  /* ----------------- */
  
  /* crypto-bank ------------- end */
  /* accordion ---------- start */
  
  
  /* ----------------------------------------------------------------- */
  .one-wallet-footer {
    /* background: url("/assets/img/crypto-stripe1.svg") no-repeat,
        url("../img/one-wallet-footer-bg.svg") no-repeat,
        url("../img/crypto-stripe1.svg") no-repeat,
        linear-gradient(
          109.75deg,
          rgba(117, 84, 252, 0) 35.1%,
          rgba(117, 84, 252, 0.2) 99.39%
        ),
        linear-gradient(162.15deg, rgba(13, 11, 51, 0) 1.61%, #0d0b33 71.13%),
        #4a21ef;
      background-position: top left, bottom, bottom right -26%, center;
      background-size: auto;
      animation: starFooter 2.5s ease-in infinite; */
    background: linear-gradient(
        109.75deg,
        rgba(117, 84, 252, 0) 35.1%,
        rgba(117, 84, 252, 0.2) 99.39%
      ),
      linear-gradient(162.15deg, rgba(13, 11, 51, 0) 1.61%, #0d0b33 71.13%),
      #4a21ef;
    background-position: center;
  }
  .one-wallet-footer-main {
    background: url("https://www.safepal.com/assets/img/crypto-stripe1.svg") no-repeat,
      url("https://www.safepal.com/assets/img/one-wallet-footer-bg.svg") no-repeat,
      url("https://www.safepal.com/assets/img/crypto-stripe1.svg") no-repeat;
    background-position: top left, bottom, bottom right -26%;
    background-size: auto;
    animation: starFooter 5s ease-in infinite;
  }
  @media (min-width: 991px) {
    @keyframes starFooter {
      0% {
        background: url("https://www.safepal.com/assets/img/one-wallet-footer-bg.svg") no-repeat,
          url("https://www.safepal.com/assets/img/crypto-stripe1.svg") no-repeat,
          url("https://www.safepal.com/assets/img/crypto-stripe1.svg") no-repeat;
        background-position: bottom, top left, bottom right -26%, center;
        background-size: auto;
      }
      50% {
        background: url("https://www.safepal.com/assets/img/one-wallet-footer-bg2.svg") no-repeat,
          url("https://www.safepal.com/assets/img/crypto-stripe1.svg") no-repeat,
          url("https://www.safepal.com/assets/img/crypto-stripe1.svg") no-repeat;
        background-position: bottom, top left, bottom right -26%, center;
        background-size: auto;
      }
      100% {
        background: url("https://www.safepal.com/assets/img/one-wallet-footer-bg.svg") no-repeat,
          url("https://www.safepal.com/assets/img/crypto-stripe1.svg") no-repeat,
          url("https://www.safepal.com/assets/img/crypto-stripe1.svg") no-repeat;
        background-position: bottom, top left, bottom right -26%, center;
        background-size: auto;
      }
    }
  }
  /* ----one-wallet---- */
  #one-wallet .one-wallet {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
  }
  #one-wallet .one-wallet .sfp-logo {
    margin-top: 30px;
  }
  #one-wallet .one-wallet .sfp-logo .logo-box {
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  #one-wallet .one-wallet .title {
    margin-bottom: 48px;
  }
  #one-wallet .one-wallet .title h3 {
    color: #ffffff;
    font-weight: 1000;
    font-size: 80px;
    line-height: 1;
    text-align: center;
  }
  #one-wallet .one-wallet .download .set-off-btn,
  #hero .hero-container .download .set-off-btn,
  #crypto-bank .crypto-bank-container .left .download .set-off-btn {
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background: linear-gradient(
      183.08deg,
      rgba(191, 255, 228, 0.2) 43.82%,
      rgba(191, 255, 228, 0) 111.17%
    );
    border-radius: 100px;
    padding: 10px;
  }
  #one-wallet .one-wallet .download .downloads-btn,
  #hero .hero-container .download .downloads-btn,
  #crypto-bank .crypto-bank-container .left .download .downloads-btn {
    animation-duration: 4s;
    animation-iteration-count: infinite;
    color: #0d0b33;
    font-size: 18px;
    padding: 16px 24px;
    border-radius: 100px;
    background-color: #79efbd;
    line-height: 1.6;
    border: none;
    width: 100%;
  }
  @media (max-width: 991px) {
    .one-wallet-footer {
      background: linear-gradient(
          109.75deg,
          rgba(117, 84, 252, 0) 35.1%,
          rgba(117, 84, 252, 0.2) 99.39%
        ),
        linear-gradient(162.15deg, rgba(13, 11, 51, 0) 1.61%, #0d0b33 71.13%),
        #4a21ef;
    }
    .one-wallet-footer-main {
      background: url("https://www.safepal.com/assets/img/crypto-stripe1.svg") no-repeat,
        url("https://www.safepal.com/assets/img/one-wallet-footer-bg-m.svg") no-repeat,
        url("https://www.safepal.com/assets/img/crypto-stripe1.svg") no-repeat;
      background-position: top left, bottom, bottom right 320%, center;
      background-size: auto;
    }
    #one-wallet .one-wallet {
      max-width: 100%;
      padding: 0px 16px;
    }
    #one-wallet .one-wallet .title h3 {
      font-size: 48px;
    }
    #one-wallet .one-wallet .download .downloads-btn,
    #hero .hero-container .download .downloads-btn,
    #crypto-bank .crypto-bank-container .left .download .downloads-btn {
      font-weight: 500;
      width: 100%;
    }
  }
  
  #limited-offer .limited-offer-bg {
    background: linear-gradient(87.19deg, #7AEFBD 15.33%, #4A21EF 50.95%);
  }
  #limited-offer .limited-offer-contnet .item-box {
    padding: 15px 0px;
    justify-content: space-between;
  }
  #limited-offer .limited-offer-contnet .item-box .title-text {
    font-size: 36px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 6px;
  }
  #limited-offer .limited-offer-contnet .item-box .item-img {
    margin-right: 16px;
    display:flex;
    align-items: center;
  }
  #limited-offer .limited-offer-contnet .item-box .item-img img {
    max-width: 161.6px;
    max-height: 149.4px;
    width: 100%;
    height: auto;
  }
  #limited-offer .limited-offer-contnet .item-box .item-text {
    max-width: 964px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #limited-offer .limited-offer-contnet .item-box .describe-item-text {
    font-size: 24px;
    line-height: 36px;
    color: #fff;
  }
  #limited-offer .limited-offer-contnet .item-box .describe-item-text a.href {
    text-decoration-line: underline;
    color: #fff;
    cursor:pointer;
  }
  @media (max-width: 991px) {
    #limited-offer .max-width-1920 {
      max-width: 100%;
      margin: 0 auto;
      padding: 0px 16px;
    }
  
    #limited-offer .limited-offer-contnet .item-box {
      padding:10px 0px 24px;
      justify-content: space-between;
    }
    #limited-offer .limited-offer-contnet .item-box .title-text {
      font-size: 32px;
      line-height: 1.4;
      margin-bottom: 0px;
      display: flex;
      align-items: center;
    }
    #limited-offer .limited-offer-contnet .item-box .title-icon {
      margin-right: 16px;
    }
    #limited-offer .limited-offer-contnet .item-box .title-icon img {
      max-width: 100px;
      max-height: 93px;
  
    }
    #limited-offer .limited-offer-contnet .item-box .item-text {
      max-width: 100%;
    }
    #limited-offer .limited-offer-contnet .item-box .describe-item-text {
      font-size: 16px;
      line-height: 24px;
    }
  }